html *
{
    font-family: "Lato", "sans-serif";
}
body
{
    background-color: #777777;
}
#header
{
    background-color: #444444;
    color: #FFFFFF;
    font-size: 2vw;
    font-weight: bold;
    font-family: "Lato", "sans-serif";
    text-align: center;
    padding: 20px;
}

.menu a:link, .menu a:visited
{
    color: #FFFFFF;
    text-decoration: none;
    margin: 20px;
    padding: 5px;
    font-weight: lighter;
    border: 2px solid #FFFFFF;
    background-color: #333333;
}

.info
{
    margin: auto;
    width: 50%;
    font-size: 20px;
    background-color: #FFFFFF;
    border-left: 6px solid #444444;
    border-right: 6px solid #444444;
    border-bottom: 6px solid #444444;
    padding: 10px;
    text-align: center;
    height: 100%;   
}
.input
{
    font-size: 20px;
    width: 50%;
    border: 3px solid #444444;
    margin: 10px;
    text-align: center;
}
.post
{
    margin: auto;
    width: 50%;
    font-size: 20px;
    background-color: #FFFFFF;
    border-left: 6px solid #444444;
    border-right: 6px solid #444444;
    border-bottom: 6px solid #444444;
    padding: 10px;
    text-align: center;
    height: 100%;
    align-content: center;
    color: #444444;
    text-align: left;
}

#button
{
    font-size: 20px;
    margin-top: 15px;
}
